*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

.page-header {
  display: flex;
  align-items: center;
  height: 4rem;
  padding: 0.3rem;
  background-color: #cafea1;
  font-size: 1rem;
  text-align: left;
}

.page__wrapper {
  display: flex;

  height: 100%;
}

.page-header__title {
  margin-left: 1rem;
  color: #000000;
}

.page-navigation {
  background-color: #d9d9d9;
  border: 1px solid #9f9c9c;
}

.page-content {
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 1rem;
}

.page-navigation__search {
  margin: 1rem 0.5rem 1rem 0.5rem;
  width: 14rem;
  height: 2rem;
  border-radius: 0.3rem;
  padding: 0.3rem 0 0 0.3rem;
  background-color: #fff;
  text-align: left;
}

.page__label {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3rem;
  width: 15rem;
  text-transform: uppercase;
  color: #717171;
  background-color: #cac7c7;
}

.page-navigation-list {
  display: flex;
  flex-direction: column;
  padding: 1rem 0 0 1rem;
  gap: 0.8rem;
  font-size: 1.5rem;
}

.page-navigation-list__element a {
  color: black;
}

.page-content__title {
  padding: 1rem 0 1.5rem 1rem;
  font-size: 1.5rem;
}

.page-content-controls__button {
  text-align: center;
  height: 3rem;
  width: 15rem;
  margin-left: 1rem;
  margin-bottom: 3rem;
  border-radius: 0.5rem;
  outline: none;
  border: none;
}

.page-content-controls__button_create {
  background-color: #81ff55;
}

.page-content-table {
  width: 100%;
  table-layout: fixed;
  text-align: center;
}
.page-content-table thead {
  background-color: #ededed;
}

.page-content-table th {
  padding: 0.5rem 0 0.5rem 0;
}

.page-content-table td {
  height: 2.5rem;
}

.page-content-table tbody tr:nth-child(odd) {
  background: #fff;
}
.page-content-table tbody tr:nth-child(even) {
  background: #ededed;
}
